.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.text-block {
  font-family: 'Changa One', Impact, sans-serif;
}

.text-block.title {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
}

.body {
  background-color: #3c0952;
}

.section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.text-block-2 {
  margin-bottom: 60px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 20px;
  line-height: 25px;
  font-style: normal;
}

.grid {
  margin-bottom: 100px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.name {
  padding: 30px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
}

.name:hover {
  font-style: normal;
}

.namebloc {
  border-radius: 50px;
  background-color: #9400d3;
  box-shadow: 1px 1px 3px 0 #000;
  text-decoration: none;
}

.namebloc:hover {
  box-shadow: 0 0 40px 40px #fff;
}

.namebloc._1 {
  margin-right: 90px;
  margin-left: 90px;
  background-color: violet;
}

.link {
  color: #fff;
  text-decoration: underline;
}

.link:hover {
  font-style: italic;
}

.link-2 {
  color: #fff;
}

.link-2:hover {
  font-style: italic;
}

.italic-text {
  text-decoration: underline;
}

.link-3 {
  color: #fff;
}

.link-3:hover {
  font-style: italic;
}

.text-block-3 {
  margin: 0px 100px 40px;
  font-family: Inconsolata, monospace;
  color: #fff;
  text-transform: none;
}

.link-4 {
  color: #fff;
}

.image {
  width: auto;
  max-height: 100%;
  max-width: 100%;
  margin: 0px;
}

.link-5 {
  color: #fff;
}

.link-6 {
  color: #fff;
}

.link-7 {
  color: #fff;
}

.link-8 {
  color: #fff;
}

.link-9 {
  color: #fff;
}

.container {
  margin-bottom: 60px;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-height: 200px;
  margin-bottom: 40px;
  margin-left: 100px;
}

.image-2 {
  height: auto;
  max-height: 100%;
}

.div-block-2 {
  margin-right: 50px;
}

.link-block {
  max-height: 200px;
  max-width: 200px;
  margin-right: 50px;
}

.link-block-2 {
  margin-right: 50px;
}